[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
sphinx = "*"
pyinstaller = "*"
psutil = "*"
types-requests = "*"
sphinx-autodoc-typehints = "*"
sphinxcontrib-jquery = "*"
pywin32-ctypes = "*"  # Needed for pyinstaller on Windows
pefile = "*"          # Needed for pyinstaller on Windows

[packages]
requests = "*"
browser-cookie3 = "*"
